//vertical space test
$class: ("margin-top", "mt"),  ("margin-bottom", "mb"),  ("padding-top", "pt"), ("padding-bottom", "pb");
$i: 0;
$max: 310;

@mixin screen() {
  @each $prop, $item in $class {
    @while $i < $max {
      .#{$item}-#{$i} {
        #{$prop}: $i#{"px"};
      }
      $i: $i + 10;
    }
  }
}

@include screen();
